* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    transition: all 0.3s ease-in-out;
}

html {
    font-size: $font-size;
}

body {
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}