
// ## Layout

// - Mobile: 375px
// - Desktop: 1440px

//Colors

// ### Primary

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

// ### Neutral

$grayish-blue: hsl(229, 8%, 60%);
$grayish-blue-50: hsla(229, 8%, 60%, 0.034);
$very-dark-blue: hsl(229, 31%, 21%);
$very-dark-blue-09: hsla(229, 31%, 21%, 0.966);
$white: #fff;

// ## Typography

// ### Body Copy

$font-size: 18px;
$font-family: "Rubik", Arial, sans-serif;

// ### Fonts

// - Family: [Rubik](https://fonts.google.com/specimen/Rubik)
// - Weights: 400, 500