// Hero section
.hero-container {
  margin: 7rem auto 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;

  &__image {
    position: relative;
    padding: 0 1.2rem;

    img {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      bottom: -0.8rem;
      width: 80%;
      height: 75%;
      background: $soft-blue;
      border-bottom-left-radius: 5rem;
    }
  }

  &__details {
    max-width: 530px;
    text-align: center;
    padding: 0 1.2rem;

    h1 {
      font-size: 1.6rem;
    }

    p {
      margin: 1rem 0 1.5rem;
    }

    &--buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.95rem;
      flex-wrap: wrap;

      a {
        padding: 0.8rem 0.7rem;
        display: block;
        border-radius: 6px;
        font-size: 0.93rem;
        min-width: 145px;
      }

      & .blue {
        background: $soft-blue;
        color: $white;
      }

      & .grey {
        color: $very-dark-blue;
        background: $grayish-blue-50;
        box-shadow: 0 0 5px rgba($color: $very-dark-blue, $alpha: 0.5);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    margin: 3rem auto 4.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    position: static;
    max-width: 1300px;
    margin: 3rem auto 4.5rem;
    flex-direction: row-reverse;
    gap: 3rem;
    justify-content: space-between;

    &__image {
      min-width: 750px;
      right: 0rem;
      position: absolute;
      right: 0;
      top: 11rem;
    }

    &__details {
      text-align: left;
      margin-right: auto;
      padding-top: 5rem;

      h1 {
        font-size: 2.3rem;
        max-width: 85%;
      }

      p {
        font-size: 1.1rem;
        margin: 1.8rem 0 1.9rem;
      }

      &--buttons {
        justify-content: flex-start;
        gap: 1.5rem;

        a {
          padding: 0.9rem 1.5rem;
          font-size: 1.1rem;
        }

        & .blue {
          border: 2px solid $soft-blue;

          &:hover {
            background: $white;
            color: $soft-blue;
          }
        }

        & .grey {
          &:hover {
            background: $white;
            border: 2px solid $grayish-blue;
            padding: calc(0.9rem - 2px) calc(1.5rem - 2px);
          }
        }
      }
    }
  }
}
